<% if user_signed_in? %>
	<h1>You're Signed In!</h1>
<% else %>
<div class="center hero-unit">
    <h1>This is Heavy <a href="http://en.wikipedia.org/wiki/Mett%C4%81">Metta</a>.</h1>

    <h2>
      Increasing the good vibes, everywhere we go, every single day.
    </h2>

    <%= link_to "Sign up now!", new_user_registration_path, 
                                class: "btn btn-large btn-primary" %>
</div> 
<% end %>

